.home-container {
    margin-top: 7rem;
    height: 76rem;
    max-height: 76rem;
    background-image: url(../../images/forest.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

