.footer-container {
    
    color: white;
    grid-area: 5 / 1 / 6 / 6;
    
    
    width: 100%;
    
    background-color: var(--clr-secondary-2);
    padding-bottom: 5rem;
    justify-content: center;
    
    
    z-index: 11;
}

h4 {
    color: var(--clr-black);
}


.sublinks {
    width: 100%;
    padding-top: 1rem;
}

.links li{
    display: inline;
    padding: 0 .125rem;
   
}


