.footer-container {
    
    color: white;
    grid-area: 5 / 1 / 6 / 6;
    
    
    width: 100%;
    
    background-color: var(--clr-green);
    padding-bottom: 20rem;
    text-align: center;
    z-index: 11;
}